<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mina.collegehelper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.Login" />
        <activity
            android:name=".activities.UserCourses"
            android:label="@string/title_activity_user_courses"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.Registration" />
        <activity
            android:name=".activities.Splash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_splash"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CourseDetails"
            android:label="@string/title_activity_course_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Years"
            android:label="@string/title_activity_years" />
        <activity android:name=".activities.YearCourses" />
        <activity android:name=".activities.CoursePosts" />
        <activity android:name=".activities.Settings" />
        <activity android:name=".activities.AddPost"></activity>
    </application>

</manifest>